body {
    margin:0 auto;
    background-color: black;
    width: 95%;
    max-width: 1000px;
}

#content {
    background-color:#36454f;
    text-align: center;
    margin-top: -25px;
}

#hero_img {
    width: 100%;
}

nav {
    background-color:#0f035a;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color:gold;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav a:hover {
    background-image: linear-gradient(to left, transparent 0%, black 40%, black 60%, transparent 100%);
}

h1, h3 {
    color: white;
}

#intro_blocks {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

#skyrim_intro {
    grid-column: 1;
    grid-row: 1;
    background-color: #0f035a;
    border-radius: 5px;
     display: grid;
    grid-template-columns: 250px 1fr;
}

#starfield_intro {
    grid-column: 1;
    grid-row: 2;
    background-color: #0f035a;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 270px 1fr;
}

#fallout4_intro {
    grid-column: 1;
    grid-row: 3;
    background-color: #0f035a;
    border-radius: 5px;
     display: grid;
    grid-template-columns: 270px 1fr;
}

.intro_img {
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    margin-top:auto;
    margin-bottom: auto;
    mask-image: linear-gradient(to right,black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right,black 60%, transparent 100%);
}

.intro_txt {
    grid-column: 2;
    grid-row:1;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 10px;
    background: linear-gradient(to top, black 60%, transparent 100%);
    padding-bottom: 10px;
}

#f_logo {
    grid-column: 1;
    grid-row: 2;
    padding-top: 20px;
    border-radius: 50%
}

#footer_nav {
    grid-column: 2;
    grid-row: 1;
    margin-top: auto;
}
#socials {
    grid-column: 3;
    grid-row: 1;
}

#footer_terms {
    grid-column: 2;
    grid-row: 2;
}